:root {
  --body-color:#FFFCFF ;

  --header-color:#d36c6c;

  --header-button:#92a1d1;

  --color-weekdays: #247BA0;
  
  --box-shadow: #CBD4C2;

  --hover: #e8faed;

  --current-day:#e8f4fa;

  --event-color: #58bae4;

  --modal-event: #e8f4fa;

  --color-back: #DCDCDC;

  --color-day:white;

  --color-menu:#C0C0C0;

  --color-bt-menu:black;
  
  --size-bezel: .5rem;
  --size-radius: 4px;
  
  padding: 0 calc(var(--size-bezel) * 3);
}

*{
   
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

nav.menu_lateral{
    width: 80px;
    height: 100%;
    background-color: var(--color-menu);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 brown;
    position: fixed;
    top: 0%;
    left: 0%;
    overflow: hidden;
    transition: .5s;
}

nav.menu_lateral.expandir{
    width: 300px;
}

.btn_expandir{
    width: 100%;
    padding-left: 10px;
}

.btn_expandir > i{
    font-size: 24px;
    color: var(--color-bt-menu);
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item_menu{
    transition: .2s;
}

ul li.item_menu_select{
  transition: .2s;
  background-color: brown;
}

ul li.item_menu:hover{
    background-color: brown;
}

ul li.item_menu a{
    color: var(--color-bt-menu);
    text-decoration: none;
    font-size: 20px;
    padding: 20 px 4%;
    display: flex;
    margin-top: 30px;
    line-height: 40px;
}

ul li.item_menu_select a{
  color: var(--color-bt-menu);
  text-decoration: none;
  font-size: 20px;
  padding: 20 px 4%;
  display: flex;
  margin-top: 30px;
  line-height: 40px;
}

ul li.item_menu a .txt_link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

ul li.item_menu_select a .txt_link{
  margin-left: 70px;
  transition: .5s;
  opacity: 0;
}

nav.menu_lateral.expandir .txt_link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item_menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

ul li.item_menu_select a .icon > i{
  font-size: 30px;
  margin-left: 10px;
}
